{#
/**
 * @file
 * Theme implementation for a list page result item.
 *
 * Available variables:
 * - content: The rendered content of the item.
 * - is_promoted: Boolean indicating if this item is promoted/highlighted.
 * - attributes: HTML attributes for the wrapper element.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'oe-list-pages-item',
    is_promoted ? 'oe-list-pages-item--promoted',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% if is_promoted %}
    <span class="oe-list-pages-promoted-badge" title="{{ 'Highlighted'|t }}">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
        <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"/>
      </svg>
      <span class="visually-hidden">{{ 'Highlighted item'|t }}</span>
    </span>
  {% endif %}
  {{ content }}
</div>
