<div>
  <span>{{ label }}</span>:
  {% for item in items %}
    {% if item.url %}
      {{ link(item.label, item.url) }}
    {% else %}
      <span>{{ item.label }}</span>
    {% endif %}
  {% endfor %}
</div>
